
<ng-include src="'/includes/tinyNav.html'"></ng-include>
<ng-include src="'/includes/navbar.html'"></ng-include>
<div>
  <ng-include src="'/includes/carousel.html'"></ng-include>
</div>

<div class="spacer">

</div>

<div class="container-fluid">
  <div class="row home-content">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body img-container">
          <img src="/images/placeholder.jpg" alt="..." class="content-img"/>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body img-container">
          <img src="/images/example-banner.jpg" alt="..." class="content-img"/>
        </div>
      </div>
    </div>
  </div>
</div>
